* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* img {
  position: absolute;
  transform: scale(.37);
  opacity: 0.5;
} */
