* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deffef;
}

.big {
  width: 50vw;
  max-width: 400px;
  height: 50vw;
  max-height: 400px;
}

.small {
  height: 50rem;
  width: 50rem;
}
